/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins:ital", sans-serif;
  }
  
  /* Corpo */
  body {
    line-height: 1.6;
    background-color: #004085e4;
    min-height: 100vh;
  }
  
  /* Cabeçalho */
  #privacyHeader {
    background-color: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 50px 5px 50px 5px;
    margin: 1rem 35%;
    box-shadow: 0px 2px 8px #000;
    animation: pulsante 3s ease-in-out infinite;
}

@keyframes pulsante {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

  #privacyHeader p {
    margin-left: 1.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  
  #secPrivacy {
    background-color: #000;
  }
  
  .logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
  }
  
  #logo {
    width: 75px;
    transition: all 0.4s ease-in-out;
  }
  
  .logo p {
    color: #000;
    font-weight: 600;
    font-size: 0.8em;
  }
  
  /* ESTILOS DO MENU DESKTOP */  
  
  /* Seção Home e Seção Conteúdo Principal */
.privacy-policy {
    position: relative;
    text-align: center;
    padding: 5em 2em;
    overflow: hidden; /* Garante que o conteúdo extra da película seja contido */
    color: #f4f4f4;
  }
 .privacy-policy {
    background-color: #a9d6e5;
  }
  
  .privacy-policy .policy {
    background-color: #f4f4f4;
    box-shadow: 0px 4px 14px #000000cc;
    border-radius: 15px;
    padding: 1.5rem 0;
    margin: 4% 15%;
    transition: 0.5s all ease-in-out;
  }
  
  .privacy-policy .policy:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 14px #000000cc;
    background-color: #004085ae;
    p, li, a {
      color: #fff;
      text-shadow: 0px 1px 4px #000;
    }
    h2 {
      width: 500px;
      background-size: 500px auto;
      margin: auto;
      margin-bottom: 1rem;
      color: #00bfff;
      background-color: #ffffffdf;
      box-shadow: 0px 2px 8px #000000cc;
      border-radius: 10px;
      padding-bottom: 2px;
    }
    h2 > span {
      color: #fff;
    }
  }
  
  .privacy-policy .privacy {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 2px 3px #000;
    margin: 1% 4% 4% 4%;
  }
  
  .privacy-policy .policy h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    z-index: 100;
  }/* Criado e Desenvolvipo por: Isaque Ribeiro Duarte → 28/10/2024 */
  
  .privacy-policy .policy h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    z-index: 100;
  }
  
  .privacy-policy .policy h2 span {
    font-size: 1em;
  }
  
  .privacy-policy .policy p {
    margin: 0 5%;
  }
  
  .privacy-policy p {
    color: #000;
    font-weight: 550;
  }
  
  .privacy-policy .policy a {
    color: #00aeff;
    font-weight: 800;
    text-decoration: none;
    padding: 5px 15px 8px 15px;
    border-radius: 10px;
    transition: 0.4s all ease-in-out;
  }
  
  .privacy-policy .policy a:hover {
    text-shadow: none;
    color: #0077b8;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 6px #000;
  }
  
  .privacy-policy ul li {
    color: #000;
    font-weight: 550;
    list-style-type: none;
  }
  
  .privacy-policy h2 span {
    color: #00bfff;
    font-size: 2.3rem;
    text-shadow: 0px 2px 4px #000;
  }
  
  .privacy-policy p strong {
    color: #00bfff;
    text-shadow: 0px 2px 4px #000;
    font-size: 1.5rem;
    font-weight: 800;
  }
  
 .privacy-policy p span {
    color: #f4f4f4;
  }
  
  .privacy-policy .hero2 p {
    color: #013a63;
    font-weight: 800;
    text-shadow: none;
    margin: 0 10% 4% 10%;
  }
  
  .btn:hover {
    background-color: #f4f4f4;
    transform: scale(1.03);
    text-shadow: none !important;
    color: #000;
  }
  
  h2 span {
    color: #00bfff;
  }
  
  h2 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 800;
    text-shadow: 0px 2px 4px #000;
  }
  
  /* SEÇÃO FALE CONOSCO (CONTACT) */
.contact {
  padding: 3rem;
  background-color: #f4f4f4;
  text-align: center;
}

/* Estilos dos Links */
.social-links ul {
  list-style-type: none;
}

.social-links ul li {
  font-size: 2.8rem;
  display: inline-block;
  margin: 0 40px;
}

.social-links ul li a {
  text-decoration: none;
}

.social-links ul li a svg {
  color: #0092e0;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
}

.social-links ul li a #email svg:hover  {
  color: #da1e37;
  transform: scale(1.08);
}

.social-links ul li a #whats svg:hover  {
  color: #1ebb58;
  transform: scale(1.08);
}

.social-links ul li a #insta svg:hover  {
  color: #5d3ecf;
  transform: scale(1.08);
}

.main-footer {
  background-color: #002f61e4;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding: 1em 0;
  .autor {
    margin-top: 8px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  #logoProgramador {
    width: 80px;
    background-color: #c9c9c998;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #000000c4;
  }
}
  
  /* Estilo dos ícones sociais */
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icon img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }
  
  